.novbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 7px;
}
.head__piges{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 80px;
}
.head__piges a{
    color: black;
}
.head__contact{
    display: flex;
    gap: 10px;  
}
header{
    top: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.number a{
    color: black;
}
.number{
    line-height: 25px;
}
#head{
    background-color: whitesmoke;
}